@use 'bootstrap/scss/bootstrap';
@use 'theme/new-main.scss';
html,
body {
  height: 100%;
  font-size: 14px;
}

.user-collapse > .dropdown-toggle {
  padding: 0.5rem;
  &::after {
    display: none;
  }
}
.user-expand > .dropdown-toggle {
  padding-left: 0;
}
