@use 'bootstrap/scss/bootstrap' with (
  $primary: #6f42c1,
  // Bootstrap's built-in "warning" yellow / amber
  $min-contrast-ratio: 2
);
@use 'theme/new-main.scss';
html,
body {
  height: 100%;
  font-size: 14px;
}
:root {
  --accent: #d4a853;
}

.user-collapse > .dropdown-toggle {
  padding: 0.5rem;
  &::after {
    display: none;
  }
}
.user-expand > .dropdown-toggle {
  padding-left: 0;
}
