#steps {
  th[data-column='number'] {
    width: 2%;
  }
  th[data-column='initWait'] {
    width: 6%;
  }
  th[data-column='name'] {
    width: 9%;
  }
  th[data-column='repeat'] {
    width: 6%;
  }
  th[data-column='repeatInterval'] {
    width: 10%;
  }

  th[data-column='menu'],
  td[data-column='menu'] {
    width: 1%;
    white-space: nowrap;
  }
}
