name: feature [push]

on:
  pull_request:

env:
  FORCE_COLOR: 2
  NODE: 24

jobs:
  main:
    name: Check
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      actions: 'read'
    steps:
      - name: Clone repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0
      - name: Set up Node.js
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: '${{ env.NODE }}'
          registry-url: https://npm.pkg.github.com
          scope: ${{github.repository_owner}}
      - uses: pnpm/action-setup@fe02b34f77f8bc703788d5817da081398fad5dd2 # v4.0.0
        with:
          version: 9
      - name: Get pnpm store directory
        id: pnpm-cache
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path)" >> $GITHUB_OUTPUT
      - uses: actions/cache@v4
        name: Setup pnpm cache
        with:
          path: ${{ steps.pnpm-cache.outputs.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-
      - uses: nrwl/nx-set-shas@826660b82addbef3abff5fa871492ebad618c9e1 # v4
      - run: pnpm install --frozen-lockfile
      - run: pnpm exec nx report
      - run: pnpm exec nx format:check --verbose --exclude=acf-configs
      - run: pnpm exec nx affected --target=lint --parallel=3 --verbose --exclude=acf-configs
      - run: pnpm exec nx affected --target=test --parallel=3 --verbose --coverage --exclude=acf-configs
      - run: pnpm exec nx affected --target=typecheck --parallel=3 --verbose --exclude=acf-configs
      - name: Run codacy-coverage-reporter
        uses: codacy/codacy-coverage-reporter-action@89d6c85cfafaec52c72b6c5e8b2878d33104c699 # v1.3.0
        if: ${{  github.actor != 'dependabot[bot]' }}
        with:
          project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
          # or
          api-token: ${{ secrets.CODACY_API_TOKEN }}
          coverage-reports: 'packages/**/**/test-output/vitest/coverage/lcov.info'
          # or a comma-separated list for multiple reports
          # coverage-reports: <PATH_TO_REPORT>, <PATH_TO_REPORT>
